@tailwind base;
@tailwind components;
@tailwind utilities;


#greeterbot_root {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  pointer-events: none;
  overflow: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 2s linear infinite;
}

@keyframes fadeInOut {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in-out {
  animation: fadeInOut 0.2s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-up-animation {
  animation: slideUp 0.1s ease-out forwards;
}
